$font-main: 'Montserrat', sans-serif;
$font-secondary: 'Istok Web', sans-serif;
$cream: rgb(248, 243, 242);
$peach-extralight: rgb(248, 220, 220);
$peach-light: rgb(244, 209, 204);
// $peach-dark: rgb(244, 186, 180);
$peach-dark: rgb(243, 177, 171);
$blue-light: rgb(154, 219, 229);
$blue-medium: rgb(65, 179, 197);
$indigo-dark: rgb(26, 44, 139);
// rgb(244, 205, 206)
$width-left: 14.5rem;
$width-right-max: 30.85rem;
$margin-left: 1.85rem;
$content-maxwidth: 47.2rem;
$title-height: 5rem;
$section-container-padding: 0 1.75rem 2.5rem 1.75rem;

.site {    
    height: 100%;
    min-width: 100%;
    &__container {
        // max-width: $content-maxwidth;
        min-height: 100%;
        min-width: 100%;
        position: relative;
        // z-index: -10;
    }
}

.title {
    
    height: 8rem;
    color: $indigo-dark;
    position: relative;
    width: 100%;
    // z-index: -2;
    &__container {
        height: 100%;
        max-width: $content-maxwidth;
        padding: 1.25rem 1.75rem 0 1.75rem;
        margin: auto;
    }

    &__text {
        float: left;
        width: 17.35rem;
        // text-shadow: 0 0px 1px rgba(26, 44, 80, .git 5);

        &-name {
            font-family: $font-main;
            font-weight: 900;
            font-size: 1.7rem;
            text-align: left;
            margin: 0;
            
        }
        
        &-container {
            font-family: $font-secondary;
            margin-top: .35rem;
        }

        &-jobtitle {
            text-align: left;
            font-weight: 700;
            font-size: 1.35rem;
            line-height: 1.65rem;
            margin: 0;
        }
    }
}

.header {
    min-width: 100%;
    width: 100%;
    // width: 100vh;
    height: 2.5rem;
    box-sizing: border-box;
    padding: 0 1.75rem 0 1.75rem;
    box-sizing: border-box;
    background-color: $indigo-dark;
    z-index: 100;
    &__container {
        max-width: $content-maxwidth;
        margin: auto;
        display: flex;
        align-items: center;
        justify-content: space-between;
        // flex-wrap: wrap;
        height: 100%;
        color: $cream;
        &-left {
            display: flex;
            align-items: center;
            // flex-wrap: wrap;
            width: $width-left;
            margin-right: 1.83rem;
        }

        &-right {
            min-width: $width-left;
            max-width: $width-right-max;
            display: flex;
            // align-items: center;
            justify-content: flex-end;
            height: 100%;
        }
    }

    &__name {
        font-family: $font-main;
        min-width: 8.5rem;
        // width: 8rem;
        flex-wrap: nowrap;
        font-weight: 700;
        font-size: .83rem;
        padding-right: .1rem;
    }

    &__icon {
        padding: .25rem;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 24px;
        height: 24px;
        &-container {
            min-width: 6rem;
            margin-left: .15rem;
            display: flex;
            justify-content: space-evenly;
            align-items: center;
        }
        &-fill {
            transition: all .3s;
            fill: $cream;
        }

        &-stroke {
            transition: all .3s;
            stroke: $cream;
        }
        &-ref {
            
            &:hover {
                .header__icon {
                    &-fill {
                        fill: $blue-light;
                    }
                    &-stroke {
                        stroke: $blue-light;
                    }
                }
            }
            &:focus {
                .header__icon {
                    &-fill {
                        fill: $blue-light;
                    }
                    &-stroke {
                        stroke: $blue-light;
                    }
                }
            }
        }
        
    }
    &__section {
        

        &-ref {
            font-family: $font-main;
            font-weight: 600;
            font-size: .75rem;
            color: $cream;
            text-decoration: none;
            padding: .25rem;
            cursor: pointer;
            transition: all .3s;
            margin: .25rem 0;

            &:hover {
                color: $blue-light;
            }
            &:focus {
                color: $blue-light;
            }
        }
        
        &-container {
            width: 13rem;
            height: 100%;
            display: flex;
            justify-content: space-between;
            align-items: center;

        }
    }

    &__filler {
        visibility: hidden;
        position: absolute;
        // background: pink;
        // height: 5rem;
        top: 0;
        z-index: -100;
        
        &-sticky {
            position: relative;
            // padding-bottom: 2.5rem;
        }
    }
}

.nav {
    height: 100%;
    width: 100%;
    position: relative;
}
.main {
    width: 100%;
    min-height: 100%;
    top: 10.5rem;
    z-index: 10;
    position: absolute;
}

.anchor {
    display: block;
    position: relative; 
    visibility: hidden;
    top: 0;

    &-about {
        top: 7.9rem;
    }
    &-portfolio {
        top: 3.6rem;
    }

    &-interests {
        top: 10rem;
    }
}

.section-active {
    color: $blue-light;
}

.about {
    background-color: $cream;
    color: $indigo-dark;
    
    &__span {
        &:before {
            content: '\A';
            white-space: pre;
        }
    }
    &__container {
        margin: auto;
        max-width: $content-maxwidth;
        padding: $section-container-padding;
        
        &-content {
            display: flex;
            width: 100%;
            height: 100%;
        }
        &-left {
            max-width: $width-left;
            margin-right: $margin-left;
        }
        &-right {
            
            min-width: $width-left;
            max-width: $width-right-max;

        }
    }

    &__img {
        height: 100%;
        width: 100%;
        &-container {
            // height: 19rem;
            height: auto;
            width: $width-left; 
            margin-bottom: 1.5rem;
            // margin-top: 5rem;
        }
    }
    &__title {
        font-family: $font-main;
        font-weight: 800;
        display: flex;
        align-items: center;
        flex-wrap: nowrap;
        height: $title-height;
        margin: 0;
        margin-left: 16.5rem;
        min-width: 8rem;
        
        
        &-sub {
            font-family: $font-main;
            font-size: 1rem;
            font-weight: 700;
            margin:0;
            padding: 0;
            padding-bottom: .25rem;
        }
    }

    &__li {
        list-style: outside;
        padding-left: 1rem;
        list-style-type: circle;
    }
    &__content {
        
        &-title {
            font-family: $font-main;
            font-size: .9rem;
            font-weight: 700;
            // padding: .25rem 0;
            // padding: 0;
            margin: .5rem 0 .25rem;
        }

        &-info {
            font-family: $font-secondary;
            list-style: outside;
            padding-left: 1.15rem;
            
            // font-size: .75rem;
            // padding-bottom: 0;
            // padding-top: 0;
            // margin: 0;
            // margin: .25rem 0;
            font-size: .7rem;
        }

        &-container {
            min-height: 19.4rem;
            margin-top: -2px;

            // max-height: 20.5rem;
            max-height: 19.4rem;
        }
    }

   
    &__button {
        border: none;
        font-family: $font-main;
        font-weight: 600;
        color: $cream;
        background-color: $indigo-dark;
        padding: .5rem;
        transition: all .3s;
        margin-top: 1.5rem;
        cursor: pointer;

        &:hover {
            color: $blue-light;
            box-shadow: 0 2px 3px 1px rgba(26, 44, 80, .5);
        }

        &:focus {
            color: $blue-light;
            box-shadow: 0 2px 3px 1px rgba(26, 44, 80, .5);
        }
    }
}

.portfolio {
    // background-color: $peach-light;
    &__container {
        margin: auto;
        max-width: $content-maxwidth;
        padding: $section-container-padding;
        padding-bottom: 1rem;
    }

    &__title {
        font-family: $font-main;
        color: $indigo-dark;
        font-weight: 800;
        margin: 0;
        margin-left: 16.5rem;
        height: $title-height;
        display: flex;
        align-items: center;
    }

    &__main {
        height: 100%;
        width: 100%;
        &-items {
            height: 100%;
            width: 100%;
            display: grid;
            grid-template-columns: 16.35rem 16.35rem 16.35rem;
        }
    }

    &__link {
     
        &-container {
            width: 14.5rem;
            padding-bottom: 1.85rem; 
        }
    }
}

.interests {
    background-color: $cream;
    color: $indigo-dark;
    

    &__container {
        margin: auto;
        max-width: $content-maxwidth;
        padding: $section-container-padding;
        padding-bottom: 1.75rem;
        // display: flex;
    }

    &__title {
        margin: 0;
        font-family: $font-main;
        height: $title-height;
        display: flex;
        align-items: center;
        margin-left: 16.5rem;
    }

    &__content {
        &-title {
            font-family: $font-main;
            padding-bottom: 1rem;
            margin: 0;
        }

        &-left {
            max-width: $width-left;
            min-width: $width-left;
            margin-right: $margin-left;
        }

        &-right {
            
            min-width: $width-left;
            max-width: $width-right-max;
        }

        &-info {
            margin-top: 0;
        }

        &-container {
            display: flex;
            // flex-wrap: wrap;
            margin-top: -2px;
        }

        &-flex {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            height: 20rem;
        }
    }

    &__img {
            min-width: $width-left;
            max-width: $width-right-max;
            // min-height: 16rem;
            min-height: 12rem;
            max-height: 12rem;
            // object-fit: fill;
            position: absolute;
            // right: 5rem;
        &-container {
            position: relative;
            min-width: $width-left;
            max-width: $width-right-max;
            // min-height: 16rem;
            min-height: 12rem;
            max-height: 12rem;
            // min-height: auto;
            overflow: hidden;
            // height: auto;
            
        }
    }
}

li {
    // height: 2rem;
    margin: .25rem 0;
}

.li {
   
    
    &__title {
        font-family: $font-main;
        font-weight: 700;
        font-size: .8rem;
        padding: .25rem 0 .15rem 0;
        &-ul {
            list-style: outside;
            padding-left: 1.15rem;
            
        }
    }

    &__regular {
        font-family: $font-secondary;
        font-size: .7rem;
        height: 3rem;
        &-ul {
            list-style: outside;
            padding-left: 1rem;
            list-style-type: circle;
            
        }

        &-right {
            list-style: outside;
            padding-left: 1.15rem;
            padding-top: 4px;
            padding-bottom: 0;
            margin-bottom: 0;
        }
    }

    &-small {
        font-size: .7rem;  
        height: auto;
        margin-bottom: .6rem;
        // line-height: .85rem;  
    }
}

footer {
    width: 100%;
    height: 2.5rem;
}

.footer {
    font-family: $font-secondary;
    font-size: .6rem;
    color: $cream;
    margin: auto;
    max-width: $content-maxwidth;
    padding: 0 1.9rem;
    height: 2.5rem;
    display: flex;
    align-items: center;

    &__container {
        height: 100%;
        width: 100%;
        background-color: $indigo-dark;
    }
}

.dot {
    height: 11rem;
    width: 11rem;
    border-radius: 50%;
    position: absolute;
    // z-index: 10;
    box-shadow: 0 1px 3px 1px rgba(26, 44, 80, .15);

    &__container {
        overflow: hidden;
        width: 100%;
        // position: fixed;
        position: fixed;
        z-index: -1;
        &-title {
            height: 8rem;
            background-color: $peach-dark;
        }
        
        &-main {
            min-height: 100%;
            background-color: $peach-light;
            z-index: -10;
            position: fixed;
            
        }
    }

    &__relative {
        position: relative;
        z-index: -1;
        &-title {
            height: 8rem;
        }
        
    }

    &__title {
        background-color: $peach-light;
        &-top {
            bottom: 4rem;
            &1 {
                left: 5rem; 
            }
            
            &2 {
                left: 25rem;
            }

            &3 {
                left: 45rem;
            }

            &4 {
                left: 65rem;
            }

            &5 {
                left: 85rem;
            }
            
        }

        &-bottom {
            top: 4rem;
            &1 {
                margin-left: -5rem;
            }

            &2 {
                left: 15rem;
            }

            &3 {
                left: 35rem;
            }

            &4 {
                left: 55rem;
            }

            &5 {
                left: 75rem;
            }
        }

    }

    &__main {
        background-color: $peach-dark;
        box-shadow: 0 1px 3px 1px rgba(26, 44, 80, .25);
        &-row {
            &1 {
                top: 0rem;
                margin-top: -4.25rem;
                
            }
            &2 {
                top: 6.75rem;
                
            }
            &3{ 
                top: 17.75rem;
                
            }
            &4 {
                top: 28.75rem;
                
            }
            &5 {
                top: 39.75rem;
                
            }
        }

        &-column {
            &-a {
                &1 {
                    margin-left: -5rem;
                }
    
                &2 {
                    left: 15rem;
                }
    
                &3 {
                    left: 35rem;
                }
    
                &4 {
                    left: 55rem;
                }
    
                &5 {
                    left: 75rem;
                }
            }

            &-b {
                &1 {
                    left: 5rem; 
                }
                
                &2 {
                    left: 25rem;
                }
    
                &3 {
                    left: 45rem;
                }
    
                &4 {
                    left: 65rem;
                }
    
                &5 {
                    left: 85rem;
                }
            }
            
        }
    }
}

.sticky-header {
    // position: sticky;
    position: fixed;
    top: 0rem;    
}

.hidden {
    visibility: hidden;
}

@media only screen and (max-width: 800px) {
    $content-maxwidth: $width-right-max;

    .max-width {
        max-width: $content-maxwidth;
        
    }
    .header {
        &__container {
            &-right {
                justify-content: flex-start;
            }
        }
    }
    .portfolio {
        &__main {

            &-items {
                grid-template-columns: 16.35rem 16.35rem;
            }
        }
    }

    .interests {

        &__img {
            margin-left: -5.52rem;
        }
    }

    .anchor {
    
        &-portfolio {
            top: 3.65rem;
        }
    
        &-interests {
            top: 21.25rem;
        }
    }
}


@media only screen and (max-width: 600px) {
    $content-maxwidth: $width-left;
    .max-width {
        max-width: $content-maxwidth;
    }

    .title {
        font-size: 6rem;

        &__text {
            &-name {
                font-size: 1.5rem;
            }
        }
    }
    .header {
        height: 5rem;
        min-width: 100%;
        max-width: 100%;
        &__container {
            flex-wrap: wrap;

            &-left {
                height: 2.5rem;
            }
            &-right {
                height: 2.5rem;
                justify-content: flex-start;
                margin-left: -.2rem;
            }
        }
    }

    .about {

        &__title {
            margin: 0;
        }
        &__container {
            
            &-content {
                flex-wrap: wrap;
            }
        }
    }

    .portfolio {
        &__container {
            max-width: $content-maxwidth;
        }
        &__title {
            margin-left: 0;
        }
        &__main {

            &-items {
                grid-template-columns: 16.35rem;
            }
        }
    }

    .interests {

        &__container {
            max-width: $content-maxwidth;
        }
        &__title {
            margin-left: 0;
        }

        &__content {
            &-container {
                flex-wrap: wrap;
            }
        }
        &__img {
            margin-left: -5.52rem;
        }
    }

    .anchor {
    
        &-portfolio {
            top: 1.15rem;
        }
    
        &-interests {
            top: 30.1rem;
        }
    }
}