<div class="container">
    <div class="img__container">
        <img class="img" src="/assets/img/portfolio/Interactive_Challenges_3columns.png" alt="">
    </div>
    <div class="info__container">
        <div class="info">
            <div class="info__type-container">
                <div class="info__type-title">Type:</div>
                <div class="info__type">Web Development</div>
            </div>
            <div class="info__description-container">
                <div class="info__name">Interactive Web Challenges</div>
                <div class="info__description">A sample of 30 commonly used web design features.</div>
            </div>
        </div>
    </div>
</div>

