$font-main: 'Montserrat', sans-serif;
$font-secondary: 'Istok Web', sans-serif;
$cream: rgb(248, 243, 242);
$indigo-dark: rgb(26, 44, 139);
$blue-light: rgb(154, 219, 229);
$blue-extralight: rgb(216, 235, 237);

.container {
    height: 9.5rem;
    width: 14.5rem;
    background-color: $cream;
    position: relative;
    overflow: hidden;
    transition: all .3s;
    &:hover {
        box-shadow: 0 2px 3px 1px rgba(26, 44, 80, .5);
        .img {
            &__container {
                opacity: 1;
            }
        }
        .info {
            color: $blue-light;
            background-color: $indigo-dark;
        }
    }
    &:focus {
        .img {
            &__container {
                opacity: 1;
            }
        }
        .info {
            background-color: rgba(154, 219, 229, 1);
            background-color: rgba(216, 235, 237, .8);
        }
    }
}

.img {
    height: 100%;
    width: auto;
    
    &__container {
        position: absolute;
        // right: 2rem;
        opacity: .5;
        height: 150%;
        width: 150%;
        top: 0;
        transition: all .3s;
    }
    
}

.info {
    height: 50%;
    width: 100%;
    background-color:  rgba(26, 44, 139, .8);
    transition: all .3s;
    color: $indigo-dark;
    color: $cream;
    padding: .65rem;
    box-sizing: border-box;
    &__type {
        font-family: $font-secondary;
        font-size: .6rem;
        &-container {
            display: flex;
            margin-bottom: .25rem;
        }
        &-title {
            font-family: $font-main;
            font-weight: 600;
            font-size: .65rem;
            margin-right: .5rem;
        }
    }

    &__name {
        font-family: $font-main;
        font-weight: 600;
        font-size: .65rem;
        text-decoration: underline;
    }
    &__description {
        font-family: $font-secondary;
        font-size: .6rem;
    }
    &__container {
        height: 100%;
        width: 100%;
        z-index: 1;
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        
        
    }
    
}