<div class="container">
    <div class="img__container">
        <img class="img" src="{{ itemInfo.imgUrl }}" alt="{{ itemInfo.imgAlt }}">
    </div>
    <div class="info__container">
        <div class="info">
            <div class="info__type-container">
                <div class="info__type-title">Type:</div>
                <div class="info__type">{{ itemInfo.type }}</div>
            </div>
            <div class="info__description-container">
                <div class="info__name">{{ itemInfo.name}}</div>
                <div class="info__description">{{ itemInfo.description }}</div>
            </div>
        </div>
    </div>
</div>

